# OS metadata
.DS_Store
Thumbs.db

# Logs
*.log

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify & Vercel folders
.netlify
.vercel

# Environment & Secrets (NEVER COMMIT)
.env
.env.local
.env.*.local
*.env
*credentials*.json
*service_account*.json
google-key.json
service-account.json

